# 必须项
requests~=2.32.0
moviepy==2.1.1
edge-tts==6.1.19
streamlit~=1.45.0
watchdog==6.0.0
loguru~=0.7.3
tomli~=2.2.1
pydub==0.25.1
pysrt==1.1.2

openai~=1.77.0
google-generativeai>=0.8.5

# 待优化项
# opencv-python==4.11.0.86
# scikit-learn==1.6.1

# fastapi~=0.115.4
# uvicorn~=0.27.1
# pydantic~=2.11.4

# faster-whisper~=1.0.1
# tomli~=2.0.1
# aiohttp~=3.10.10
# httpx==0.27.2
# urllib3~=2.2.1

# python-multipart~=0.0.9
# redis==5.0.3
# opencv-python~=4.10.0.84
azure-cognitiveservices-speech~=1.37.0
# git-changelog~=2.5.2
# watchdog==5.0.2
# pydub==0.25.1
# psutil>=5.9.0
# scikit-learn~=1.5.2
# pillow==10.3.0
# python-dotenv~=1.0.1

# tqdm>=4.66.6
# tenacity>=9.0.0
# tiktoken==0.8.0
# pysrt==1.1.2
# transformers==4.50.0

# yt-dlp==2025.4.30